.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 3rem;
  float: left;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  float: left;
  padding-top: 15px;
}

.App-intro {
  font-size: large;
}

.pageTitle {
  margin: 10px
}

.album {
  display: flex;
  justify-content: center;
  font-size: large;
  text-align: left;
  flex-direction: row;
  flex-wrap: wrap;
}

.album-list {
  border-radius: 0px;
  border: 2px solid #25DBFF;
  margin: 10px;
  padding: 20px;
  height: 10rem;
  width: 10rem;
  display: flex;
  flex-direction: column;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
